{%if tracking_ids%}
<script async src="https://www.googletagmanager.com/gtag/js?id={{tracking_ids.0}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  {%for tracking_id in tracking_ids%}
    gtag('config', '{{tracking_id}}');
  {%endfor%}
</script>
{%endif%}
