{%load static%}

<!DOCTYPE html>

<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {%if title%}
    <title>{{title}}</title>
  {%endif%}

  {%if icon%}
      <link rel="icon" href="{%if 'https://' in icon%}{{icon}}{%else%}{%static icon%}{%endif%}">
  {%endif%}

  {%for css in css_list%}
    <link href="{%if 'https://' in css%}{{css}}{%else%}{%static css%}{%endif%}" rel="stylesheet">
  {%endfor%}

  <!-- js -->
  {%for js in js_list%}
    <script src="{%if 'https://' in js%}{{js}}{%else%}{%static js%}{%endif%}"></script>
  {%endfor%}

  {%for property, content in open_graph.items%}
    <meta property="og:{{property}}" content="{{content}}" />
  {%endfor%}

</head>

<body>

{%block page%}
{%endblock%}

{%include 'kbde/timezone.html'%}
{%include 'kbde/device_id.html'%}
{%include 'kbde/validate_forms.html'%}
{%include 'kbde/analytics.html'%}

</body>
</html>
